header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5vh 60px 25px 60px;
  background-color: #70707012;
  z-index: 99;
  color: #121212; }
  header h1 {
    font-family: A1Sans;
    font-size: 18px;
    color: #121212;
    margin: 0 !important; }
    @media (min-width: 1920px) {
      header h1 {
        font-size: 24px; } }
  header.xploretv-homepage, header.package-smarthome, header.header-position-relative {
    position: relative; }
  header.package-smarthome, header.header-position-relative {
    padding: 35px 60px 10px 60px; }
  header .xploretv-line {
    position: relative;
    top: -2px; }
  @media (min-width: 1920px) {
    header {
      padding: 5vh 100px 20px 100px; } }
  header .xploretv-logo {
    max-width: 70px; }
    @media (min-width: 1920px) {
      header .xploretv-logo {
        max-width: 100px; } }

body {
  background-color: #efefef;
  color: #000000;
  cursor: auto;
  font-family: "A1Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 18px;
  position: relative;
  text-rendering: optimizeLegibility;
  min-width: 1280px;
  overflow-x: hidden; }
  @media (min-width: 1920px) {
    body {
      font-size: 24px; } }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #000000;
  font-family: "A1Serif", Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 8px;
  margin-top: 3px;
  text-rendering: optimizeLegibility; }

h1, .h1 {
  font-size: 2.25rem;
  line-height: 1.17;
  margin-top: -0.5rem !important; }
  @media (min-width: 1920px) {
    h1, .h1 {
      font-size: 3.0625rem;
      line-height: 1.14;
      margin-top: -0.6875rem !important; } }

h2, .h2 {
  font-size: 2.125rem; }

h3, .h3 {
  font-size: 24px; }
  @media (min-width: 1920px) {
    h3, .h3 {
      font-size: 32px; } }

h4, .h4 {
  font-size: 1.675rem; }

h5, .h5 {
  font-size: 1.125rem; }

h6, .h6 {
  font-size: 1rem; }

p {
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
  text-rendering: optimizeLegibility; }
  @media (min-width: 1920px) {
    p {
      font-size: 24px; } }

a {
  color: #000000;
  font-size: 18px; }
  @media (min-width: 1920px) {
    a {
      font-size: 24px; } }
  a:hover, a:focus {
    background-color: #da291c;
    color: #ffffff;
    text-decoration: none;
    outline: none; }
  a[href=""]:focus, a[href=""]:hover {
    background-color: #d7d7d7;
    color: #000000; }

a.button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: "A1Sans", Verdana, sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 7px 14px 8px 14px;
  font-size: 18px;
  background-color: #ffffff;
  border-color: #da291c;
  color: #da291c;
  -webkit-transition: background-color .5s ease-out, color .5s ease-out;
  transition: background-color .5s ease-out, color .5s ease-out; }
  @media (min-width: 1920px) {
    a.button, .button {
      font-size: 24px; } }
  a.button:focus, a.button:hover, .button:focus, .button:hover {
    background-color: #da291c;
    color: #ffffff; }
  a.button.arrowright, .button.arrowright {
    padding-left: 20px;
    padding-right: 48px; }
  a.button.arrowright:after, .button.arrowright:after {
    position: absolute;
    right: 15px;
    right: .9375rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

.text-gray {
  color: #121212 !important; }

.text-white {
  color: #ffffff !important; }

.h-bold {
  font-weight: 700; }

.focusable:focus, .focusable:hover {
  background-color: #da291c;
  outline: none;
  color: #ffffff !important; }
  .focusable:focus .h1, .focusable:focus .h2, .focusable:focus .h3, .focusable:focus .h4, .focusable:focus .h5, .focusable:focus .h5, .focusable:hover .h1, .focusable:hover .h2, .focusable:hover .h3, .focusable:hover .h4, .focusable:hover .h5, .focusable:hover .h5 {
    color: #ffffff !important; }

.focusable[href=""]:focus, .focusable[href=""]:hover {
  background-color: #d7d7d7;
  color: #000000 !important; }
  .focusable[href=""]:focus .h1, .focusable[href=""]:focus .h2, .focusable[href=""]:focus .h3, .focusable[href=""]:focus .h4, .focusable[href=""]:focus .h5, .focusable[href=""]:focus .h5, .focusable[href=""]:hover .h1, .focusable[href=""]:hover .h2, .focusable[href=""]:hover .h3, .focusable[href=""]:hover .h4, .focusable[href=""]:hover .h5, .focusable[href=""]:hover .h5 {
    color: #000000 !important; }

input.focusable:focus, input.focusable:hover {
  border: 1px solid #da291c; }

a.input-wrapper {
  border: 2px solid #70707012;
  width: 100%;
  height: 70px;
  position: absolute;
  display: block; }
  a.input-wrapper:hover, a.input-wrapper:focus {
    background-color: transparent;
    border-color: #da291c; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  main.xploretv-homepage {
    height: calc(100% - 90px); }
    @media (min-width: 1920px) {
      main.xploretv-homepage {
        height: calc(100% - 120px); } }

section {
  width: 100%;
  padding: 40px 120px; }
  @media (min-width: 1920px) {
    section {
      padding: 60px 190px; } }

.xploretv-main-wrapper-inner {
  max-width: 1040px;
  margin: 0 auto; }

.slick-slide:focus {
  outline: none; }

.xploretv-video-frame {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0; }

.xploretv-video-frame iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.hidden {
  display: none; }

.has-error {
  color: #da291c; }

.background-red {
  background-color: #da291c;
  color: #ffffff; }

.btn {
  font-size: 1.675rem;
  font-family: "A1Serif";
  border-radius: 0;
  padding: 8px 44px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  position: relative; }
  .btn .xploretv-icon {
    position: absolute;
    top: 50%;
    right: 18px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .btn.btn-primary {
    background-color: #da291c;
    border-color: #da291c;
    color: #ffffff; }
    .btn.btn-primary:hover {
      background-color: #ae2116;
      border-color: #ae2116; }
    .btn.btn-primary:focus, .btn.btn-primary:not(:disabled):not(.disabled):active {
      border-color: #da291c; }
  .btn.btn-outline-primary {
    background-color: transparent;
    border-color: #da291c;
    color: #da291c; }
    .btn.btn-outline-primary:hover {
      background-color: #da291c;
      border-color: #da291c;
      color: #ffffff; }
    .btn.btn-outline-primary:focus, .btn.btn-outline-primary:not(:disabled):not(.disabled):active {
      background-color: #da291c;
      border-color: #da291c;
      color: #ffffff; }

@font-face {
  font-family: 'A1Serif';
  src: local("?"), url("../fonts/a1serif/A1Serif-Regular.woff") format("woff"), url("../fonts/a1serif/A1Serif-Regular.ttf") format("truetype"), url("../fonts/a1serif/A1Serif-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'A1Serif';
  src: local("?"), url("../fonts/a1serif/A1Serif-Bold.woff") format("woff"), url("../fonts/a1serif/A1Serif-Bold.ttf") format("truetype"), url("../fonts/a1serif/A1Serif-Bold.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'A1Sans';
  src: local("?"), url("../fonts/a1sans/A1Sans-Regular.woff") format("woff"), url("../fonts/a1sans/A1Sans-Regular.ttf") format("truetype"), url("../fonts/a1sans/A1Sans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'A1Sans';
  src: local("?"), url("../fonts/a1sans/A1Sans-Bold.woff") format("woff"), url("../fonts/a1sans/A1Sans-Bold.ttf") format("truetype"), url("../fonts/a1sans/A1Sans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'A1iconfont';
  src: url("../fonts/a1_iconfont.eot");
  src: local("?"), url("../fonts/a1_iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/a1_iconfont.woff?p7mf1d") format("woff"), url("../fonts/a1_iconfont.ttf?p7mf1d") format("truetype"), url("../fonts/a1_iconfont.svg?p7mf1d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.xploretv-icon::after {
  display: inline;
  font-family: "A1iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  text-transform: none; }

.xploretv-icon.arrowright::after {
  content: "\e607"; }

.xploretv-a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 200px; }
  .xploretv-a.full-height {
    height: 100vh; }
  .xploretv-a a {
    font-size: 24px; }
    @media (min-width: 1920px) {
      .xploretv-a a {
        font-size: 32px; } }
  .xploretv-a .scroll-indicator {
    width: 40px;
    height: auto; }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); } }

@keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); } }
  .xploretv-a .jump {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: jump 2s ease-in alternate infinite;
            animation: jump 2s ease-in alternate infinite; }

.xploretv-b {
  margin-top: 20px; }
  @media (min-width: 1920px) {
    .xploretv-b {
      margin-top: 40px; } }
  .xploretv-b-slider {
    overflow: hidden; }
    .xploretv-b-slider a.slick-slide {
      width: 640px;
      text-align: center;
      margin: 0 15px; }
      .xploretv-b-slider a.slick-slide.focusable:focus h3 {
        color: #000 !important; }
      @media (min-width: 1920px) {
        .xploretv-b-slider a.slick-slide {
          width: 980px; } }
      .xploretv-b-slider a.slick-slide > div {
        padding: 30px 30px 10px 30px; }
      .xploretv-b-slider a.slick-slide.slick-current {
        background-color: #d7d7d7 !important;
        color: #000 !important; }
      .xploretv-b-slider a.slick-slide:focus, .xploretv-b-slider a.slick-slide:hover {
        background-color: transparent;
        color: #000 !important; }
    .xploretv-b-slider img {
      width: 100%;
      margin: 0 auto; }

.xploretv-c {
  margin-top: 20px;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (min-width: 1920px) {
    .xploretv-c {
      margin-top: 40px; } }
  .xploretv-c-container {
    width: 100%;
    max-width: 88%;
    margin: 0 auto; }
  .xploretv-c-left {
    width: 100%;
    max-width: 60%;
    margin: 0 auto; }
    .xploretv-c-left:focus {
      background-color: transparent !important;
      border: 0;
      color: #000000 !important; }
      .xploretv-c-left:focus .h1 {
        color: #000000 !important; }
  .xploretv-c-right {
    max-width: 25%;
    margin-left: 130px; }
    .xploretv-c-right.order-1 {
      margin-left: 0; }
  .xploretv-c a:hover, .xploretv-c a:focus {
    background-color: transparent !important;
    border: 0; }
  .xploretv-c a.button {
    font-size: 18px;
    margin-top: 20px; }
    @media (min-width: 1920px) {
      .xploretv-c a.button {
        font-size: 24px; } }
    .xploretv-c a.button:hover, .xploretv-c a.button:focus {
      background-color: #da291c !important; }

.xploretv-d {
  height: 96vh;
  position: relative;
  overflow: hidden; }
  .xploretv-d.you-vim-video {
    height: auto; }
  .xploretv-d video {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0; }
  .xploretv-d-play {
    position: relative; }
    .xploretv-d-play:before {
      content: '';
      position: absolute;
      z-index: 7;
      display: inline-block;
      bottom: 124px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      background: #000000;
      border-radius: 100%; }
      @media (min-width: 1920px) {
        .xploretv-d-play:before {
          bottom: 254px; } }
    .xploretv-d-play:after {
      content: '';
      position: absolute;
      z-index: 8;
      display: inline-block;
      bottom: 174px;
      left: 50.5%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 25px solid #ffffff; }
      @media (min-width: 1920px) {
        .xploretv-d-play:after {
          bottom: 304px; } }
    .xploretv-d-play.single-video {
      width: 80px;
      height: 80px;
      background-color: #000000;
      border-radius: 100%;
      display: inline-block;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .xploretv-d-play.single-video:before {
        display: none; }
      .xploretv-d-play.single-video:after {
        content: '';
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 56%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 25px solid #ffffff; }
      .xploretv-d-play.single-video.loc-video {
        top: 66%; }
    .xploretv-d-play.focusable:focus {
      color: #ffffff;
      text-decoration: none;
      outline: none;
      background-color: #da291c; }
  .xploretv-d-pause {
    width: 80px;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-left: 24px; }
    .xploretv-d-pause:after {
      content: '';
      height: 20px;
      width: 20px;
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-style: double;
      border-width: 0 0 0 20px; }
    .xploretv-d-pause.focusable:focus {
      color: #ffffff;
      text-decoration: none;
      outline: none;
      background-color: #da291c; }
  .xploretv-d .video-container {
    position: relative;
    width: 720px;
    height: 420px;
    margin-bottom: 15px; }
    @media (min-width: 1920px) {
      .xploretv-d .video-container {
        width: 1024px;
        height: 576px; } }
    .xploretv-d .video-container .xploretv-video-frame-yt {
      width: 100%;
      height: 100%; }
    .xploretv-d .video-container .yt-poster {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position-y: 50.5%; }
    .xploretv-d .video-container .vimeo-poster {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position-y: 50.5%; }

.xploretv-e {
  margin-top: 80px;
  margin-bottom: 80px; }
  .xploretv-e .product-info {
    max-width: 760px;
    margin: 0 auto; }
    .xploretv-e .product-info .product-info-title {
      font-size: 28px;
      font-family: "A1Sans";
      font-weight: 700;
      margin-bottom: 10px; }
    .xploretv-e .product-info ul {
      font-size: 17px; }

.xploretv-e-slider .product {
  text-align: center; }
  .xploretv-e-slider .product:hover {
    border: none; }
  .xploretv-e-slider .product:focus {
    border: none; }

.xploretv-e-slider img {
  max-width: 230px;
  margin: 0 auto 30px auto;
  -webkit-box-shadow: 0 0 20px 0px #d0d0d0;
  box-shadow: 0 0 20px 0px #d0d0d0; }

.xploretv-e-slider .slick-current img {
  border: 2px solid red; }

@media (min-width: 1920px) {
  .xploretv-e-slider img {
    max-width: 300px; }
  .xploretv-e #productInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80%; }
    .xploretv-e #productInfo ul {
      font-size: 24px; } }

.xploretv-f {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 1920px) {
    .xploretv-f {
      margin-top: 40px; } }
  .xploretv-f .focusable:focus {
    border: 0 !important; }
  .xploretv-f.h-auto {
    margin-bottom: 60px; }
    @media (min-width: 1920px) {
      .xploretv-f.h-auto {
        margin-bottom: 80px; } }
  .xploretv-f-container {
    width: 100%;
    margin: 30px auto 0 auto; }
    .xploretv-f-container > div {
      display: table;
      border-collapse: separate;
      border-spacing: 20px;
      margin: 0 auto; }
    .xploretv-f-container.full-width {
      max-width: 100%; }
  .xploretv-f-box {
    width: 263px;
    padding: 30px 25px;
    -webkit-box-shadow: 0 0 20px 0px #d0d0d0;
            box-shadow: 0 0 20px 0px #d0d0d0;
    background-color: #ffffff;
    display: table-cell;
    vertical-align: middle; }
    @media (min-width: 1920px) {
      .xploretv-f-box {
        width: 407px; } }
    .xploretv-f-box img {
      width: 100%;
      max-width: 170px;
      height: auto;
      display: block;
      margin: 0 auto 40px; }
    .xploretv-f-box a:focus {
      background-color: #da291c; }
  .xploretv-f-title {
    font-family: "A1Serif";
    font-weight: 500;
    margin-bottom: 20px;
    word-break: break-word;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; }

.xploretv-g {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  min-height: calc(100vh - 90px);
  padding: 60px 0;
  background-color: #fafafa; }
  .xploretv-g form {
    width: 100%; }
  .xploretv-g label {
    margin-bottom: 6px;
    font-size: 20px; }
  .xploretv-g-header {
    padding: 10px 60px; }
  .xploretv-g-nav {
    height: 70px;
    font-size: 21px; }
  .xploretv-g-inner {
    width: 100%;
    max-width: 526px; }
  .xploretv-g-textblock {
    margin-bottom: 32px; }
    .xploretv-g-textblock-checkicon img {
      margin: 0 auto;
      max-width: 100px; }
    .xploretv-g-textblock.mb-60px {
      margin-bottom: 60px; }
    .xploretv-g-textblock > :last-child {
      margin-bottom: 0; }
    .xploretv-g-textblock p {
      font-size: 21px; }
  .xploretv-g .form-group {
    margin-bottom: 12px;
    position: relative; }
  .xploretv-g .form-control {
    font-size: 21px;
    height: 70px;
    background-color: #70707012;
    border: 2px solid #70707012;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #000000 !important;
    padding: 12px 15px; }
    .xploretv-g .form-control::-webkit-input-placeholder {
      color: #bbbbbb; }
    .xploretv-g .form-control:-ms-input-placeholder {
      color: #bbbbbb; }
    .xploretv-g .form-control::-moz-placeholder {
      color: #bbbbbb; }
    .xploretv-g .form-control::-ms-input-placeholder {
      color: #bbbbbb; }
    .xploretv-g .form-control::placeholder {
      color: #bbbbbb; }
    .xploretv-g .form-control.is-invalid {
      border-color: #da291c; }
  .xploretv-g-radio-group {
    margin: 34px 0 37px 0; }
    .xploretv-g-radio-group .radio .focusable:focus input:checked ~ .xploretv-g-checkbox-ui {
      border-color: #ffffff; }
    .xploretv-g-radio-group .radio .xploretv-g-checkbox-ui {
      border-radius: 100%; }
      .xploretv-g-radio-group .radio .xploretv-g-checkbox-ui:before {
        border-bottom: 2px solid #efefef;
        border-right: 2px solid #efefef; }
  .xploretv-g-radio-label {
    font-size: 21px;
    text-align: left;
    margin: 0 0 6px 0; }
  .xploretv-g-radios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .xploretv-g-radio {
    display: block;
    font-size: 21px;
    font-weight: normal;
    position: relative;
    padding-left: 32px;
    margin: 0 37px; }
    .xploretv-g-radio input {
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
      .xploretv-g-radio input:checked ~ .xploretv-e-radio-ui {
        opacity: 1; }
      .xploretv-g-radio input:checked ~ .xploretv-g-radio-ui::before {
        width: 100%;
        height: 100%;
        display: block;
        content: '';
        background-color: #da291c;
        border-radius: 50%; }
    .xploretv-g-radio-ui {
      width: 20px;
      height: 20px;
      border: 1px solid #000000;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 0;
      padding: 3px;
      display: block;
      opacity: 0.3; }
      .xploretv-g-radio-ui.focusable:focus {
        background: transparent;
        border: 1px solid #da291c; }
    .xploretv-g-radio-text {
      display: block;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
  .xploretv-g-form-btns {
    margin-top: 37px; }
    .xploretv-g-form-btns .btn + .btn {
      margin-top: 22px; }
  .xploretv-g-checkbox {
    display: block;
    font-size: 21px;
    font-weight: normal;
    position: relative;
    margin: 12px 0 0 0;
    padding: 14px 60px 14px 24px;
    background-color: #70707012; }
    .xploretv-g-checkbox input {
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
      .xploretv-g-checkbox input:checked ~ .xploretv-g-checkbox-ui-bg {
        display: block; }
      .xploretv-g-checkbox input:checked ~ .xploretv-g-checkbox-ui {
        background-color: #da291c;
        border-color: #da291c; }
        .xploretv-g-checkbox input:checked ~ .xploretv-g-checkbox-ui::before {
          width: 8px;
          height: 21px;
          display: block;
          content: '';
          border-bottom: 2px solid #ffffff;
          border-right: 2px solid #ffffff;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          position: absolute;
          top: -6px;
          left: 8px; }
    .xploretv-g-checkbox-ui-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      z-index: 0; }
    .xploretv-g-checkbox-ui {
      width: 22px;
      height: 22px;
      border: 2px solid #808080;
      position: absolute;
      top: 50%;
      right: 19px;
      display: block;
      z-index: 1;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .xploretv-g-checkbox-text {
      position: relative;
      display: block;
      z-index: 2;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
  .xploretv-g .focusable:focus .xploretv-g-checkbox-text {
    color: #ffffff; }
  .xploretv-g .focusable:focus .xploretv-g-checkbox-ui {
    border-color: #ffffff; }
  .xploretv-g .focusable:focus input {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; }
    .xploretv-g .focusable:focus input:checked ~ .xploretv-g-checkbox-ui-bg {
      display: block; }
    .xploretv-g .focusable:focus input:checked ~ .xploretv-g-checkbox-ui {
      background-color: #da291c;
      border-color: #da291c; }
      .xploretv-g .focusable:focus input:checked ~ .xploretv-g-checkbox-ui::before {
        width: 8px;
        height: 21px;
        display: block;
        content: '';
        border-bottom: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        position: absolute;
        top: -6px;
        left: 8px; }
    .xploretv-g .focusable:focus input:checked ~ .xploretv-g-checkbox-text {
      color: #ffffff; }

/* This file intentionally left blank */
.xploretv-k {
  margin-top: 20px; }
  @media (min-width: 1920px) {
    .xploretv-k {
      margin-top: 40px; } }
  .xploretv-k-slider {
    overflow: hidden; }
    .xploretv-k-slider a.slick-slide {
      width: 640px;
      text-align: center;
      margin: 0 15px; }
      @media (min-width: 1920px) {
        .xploretv-k-slider a.slick-slide {
          width: 980px; } }
      .xploretv-k-slider a.slick-slide.slick-current:focus, .xploretv-k-slider a.slick-slide.slick-current:hover {
        border: 0;
        background-color: #da291c;
        color: #ffffff !important; }
        .xploretv-k-slider a.slick-slide.slick-current:focus h3, .xploretv-k-slider a.slick-slide.slick-current:hover h3 {
          color: #ffffff !important; }
      .xploretv-k-slider a.slick-slide:focus {
        background: transparent; }
      .xploretv-k-slider a.slick-slide > div {
        padding: 30px 30px 10px 30px; }
      .xploretv-k-slider a.slick-slide.js-video-global-pause {
        background-color: transparent !important;
        color: #000000; }
        .xploretv-k-slider a.slick-slide.js-video-global-pause.slick-current, .xploretv-k-slider a.slick-slide.js-video-global-pause:hover, .xploretv-k-slider a.slick-slide.js-video-global-pause:focus {
          background-color: transparent !important;
          color: #000000 !important; }
          .xploretv-k-slider a.slick-slide.js-video-global-pause.slick-current:before, .xploretv-k-slider a.slick-slide.js-video-global-pause:hover:before, .xploretv-k-slider a.slick-slide.js-video-global-pause:focus:before {
            background: #da291c; }
    .xploretv-k-slider img {
      width: 100%;
      margin: 0 auto; }
  .xploretv-k-video-slider {
    margin-bottom: 100px; }
    .xploretv-k-video-slider .video-container {
      position: relative;
      text-align: center;
      margin: 0 15px; }
      .xploretv-k-video-slider .video-container:focus, .xploretv-k-video-slider .video-container:hover {
        background-color: transparent !important;
        border: 0; }
      .xploretv-k-video-slider .video-container .yt-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .xploretv-k-video-slider .video-container .vimeo-poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      .xploretv-k-video-slider .video-container a {
        display: inline-block;
        width: 80px;
        position: absolute;
        bottom: 23%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
        @media (min-width: 1920px) {
          .xploretv-k-video-slider .video-container a {
            bottom: 30%; } }
        .xploretv-k-video-slider .video-container a:focus, .xploretv-k-video-slider .video-container a:hover {
          background-color: #da291c !important; }
      .xploretv-k-video-slider .video-container .xploretv-video-frame-yt {
        width: 1280px;
        max-width: 100%;
        height: 350px; }
        @media (min-width: 1920px) {
          .xploretv-k-video-slider .video-container .xploretv-video-frame-yt {
            height: 610px; } }
    .xploretv-k-video-slider .focusable:hover .h1, .xploretv-k-video-slider .focusable:focus .h1 {
      color: #000000 !important; }
    .xploretv-k-video-slider .xploretv-d-pause:focus, .xploretv-k-video-slider .xploretv-d-pause:hover {
      color: #ffffff !important; }

/* This file intentionally left blank */
/*# sourceMappingURL=style.css.map */